
:root {
	font-size: 16px;
	--font-open-sans: 'Open Sans', sans-serif;
	--font-monospace: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
	--font-cursive: cursive;
}

* {
	margin: 0;
	padding: 0;
	border: 0;
	box-sizing: border-box;
}

html, body {
	height: 100%;
	min-height: 100%;
}

body {
	background: var(--theme-bg-main);
}

body[data-color-transition-enabled],
body[data-color-transition-enabled] :is(button, pre, input, textarea, select, mark, dd) {
	transition: background linear .5s;
}

#root {
	display: flex;
	flex-direction: row;
	padding: 2rem;
	min-height: calc(100vh - 20rem);
	max-width: 100rem;
	margin: auto;
}

color-theme-toggle {
	position: fixed;
	top: 1rem;
	right: 1rem;
	display: block;
}





/* ===== Header / Nav Sidebar ===== */

#root > header {
	width: 20rem;
	flex: 0 0 20rem;
	padding: 0;
	margin-inline-end: 4rem;
	position: sticky;
	top: 2rem;
	align-self: flex-start;
}

#root > header p {
	display: block;
	margin-block: 1rem;
	margin-inline: 0;
	line-height: 1;
	font-style: italic;
	font-size: 0.8rem;
}

#root > header nav {
	margin-block: 2rem;
}

#root > header nav ul {
	margin-inline-start: 2rem;
}





/* ===== Footer ===== */

body > footer {
	margin: 0;
	margin-block-start: 4rem;
	padding-block-end: 2rem;
}

body > footer p {
	margin: 1rem;
	text-align: center;
	font-size: 0.8rem;
}



/* ===== Flexbox shortcuts ===== */

[data-flex] {
	display: flex;
}

[data-flex~='row'] {
	flex-direction: row;
}

[data-flex~='column'] {
	flex-direction: column;
}

[data-flex~='wrap'] {
	flex-wrap: wrap;
}

[data-flex~='nowrap'] {
	flex-wrap: nowrap;
}

[data-flex~='align-center'] {
	align-items: center;
}




	
/* ===== Typography ===== */

h1, h2, h3, h4, h5, h6,
p, a, li, dt, dd, label,
table, th, td {
	font-family: var(--font-open-sans);
}

h1, h2, h3, h4, h5, h6,
th {
	color: var(--theme-text-heading);
}

code, pre {
	color: var(--theme-code-normal);
	font-family: var(--font-monospace);
	font-size: 1.35rem;
}

pre {
	margin: 3rem 2rem;
	padding: 1rem 1.5rem;
	border: 0.1rem solid var(--theme-line);
	border-radius: 1rem;
	overflow: auto;
	background: var(--theme-bg-light);
}

h1 {
	font-size: 2rem;
	font-weight: 300;
	margin-block: 2rem 4rem;
}

h2 {
	font-size: 1.5rem;
}

h3 {
	font-size: 1.17rem;
}

p, small, li, dt, dd, label,
table, td {
	color: var(--theme-text-body);
}

p {
	margin: 2rem 0;
	font-size: 1.2rem;
	line-height: 1.75;
}

li {
	font-size: 1.2rem;
	margin-block:0.5rem;
}

dl {
	margin-block: 2rem;
}

dt, dd {
	margin-block: 0.25rem;
}

:is(dt, dd) p {
	margin-block: 1rem;
}

dt {
	font-weight: 700;
}

dd {
	margin-block-end: 1rem;
}

small {
	font-size: 0.8rem;
	font-family: var(--font-open-sans);
}

table {
	margin-block: 2rem;
}

table, th, td {
	font-size: 1.2rem;
	line-height: 1.75;
}



a {
	color: var(--theme-text-link);
	text-decoration: none;
}

a:active,
a:hover,
a:focus {
	color: var(--theme-text-link-active);
}

a:visited {
	color: var(--theme-text-link-visited);
}

h1 > a, h2 > a,
h1 > a:active, h2 > a:active,
h1 > a:hover, h2 > a:hover,
h1 > a:focus, h2 > a:focus,
h1 > a:visited, h2 > a:visited {
	color: inherit;
}

blockquote {
	margin-block: 2rem;
	margin-inline: 1rem;
	padding-block: 0.5rem;
	padding-inline: 1.5rem;
	border-inline-start: 0.25rem var(--theme-line) solid;
}

	blockquote p {
		margin: 0;
	}

mark {
	color: var(--theme-text-highlight);
	background-color: var(--theme-bg-text-highlight);
	padding: 0.2rem;
}

::selection {
	color: var(--theme-text-selection);
	background-color: var(--theme-bg-text-selection);
}

#todo {
	text-align: center;
	margin: 4rem;
	color: var(--theme-text-light);
	font-style: italic;
}



/* ===== Forms and Inputs ===== */

label {
	display: block;
	font-family: var(--font-open-sans);
	font-size: 1rem;
	margin-block-start: 1rem;
}

label:not(:first-of-type) {
	margin-block-start: 2rem;
}

input,
textarea {
	display: block;
	margin-block-start: 0.35rem;
	margin-block-end: 1rem;
	border: 0.125rem var(--theme-border-input) solid;
	border-radius: 0.25rem;
	color: var(--theme-text-body);
	background-color: var(--theme-bg-input);
	padding: 0.5rem;
	font-family: var(--font-open-sans);
	font-size: 1rem;
	width: 20rem;
}

	input[disabled],
	textarea[disabled] {
		opacity: 0.4;
		cursor: default;
		pointer-events: none;
	}

	input[type='text']:invalid,
	input[type='password']:invalid,
	textarea:invalid {
		border-color: var(--theme-border-input-invalid);
	}

input[type='checkbox'] {
	width: auto;
	height: auto;
	appearance: none;
	width: 1rem;
	height: 1rem;
	display: inline-block;
	margin: 0;
	cursor: pointer;
	position: relative;
}

label + input[type='checkbox'] {
	margin-inline-start: 0.5rem;
}

input[type='checkbox']:after {
	opacity: 0;
	content: '';
	display: block;
	position: absolute;
	pointer-events: none;
	transition: opacity linear .1s;
}

input[type='checkbox']:checked:after {
	opacity: 1;
	left: 0.25rem;
	top: 0;
	width: 0.3125rem;
	height: 0.625rem;
	border: solid var(--theme-text-body);
	border-width: 0 0.1875rem 0.1875rem 0;
	transform: rotate(45deg);
}

textarea {
	line-height: 1.7rem;
	font-family: var(--font-monospace);
}

::-webkit-input-placeholder {
	color: var(--theme-text-light);
}

button {
	padding: 0.5rem 1.5rem;
	border-radius: 0.5rem;
	font-size: 1rem;
	margin-block-start: 1rem;
	margin-inline-end: 1rem;
	cursor: pointer;
	user-select: none;
	appearance: none;
	color: var(--theme-text-button-primary);
	background: var(--theme-bg-button-primary);
	text-decoration: none;
	transition: background linear .125s;
	font-size: 1rem;
	font-family: var(--font-open-sans);
	font-weight: 700;
	line-height: 2rem;
	display: flex;
	align-items: center;
}

	button svg.icon {
		--icon-size: 2rem;
	}

	button svg.icon:first-child {
		margin-inline-end: 0.5rem;
	}

	button svg.icon:last-child {
		margin-inline-start: 0.5rem;
	}

	button[data-style='secondary'] {
		color: var(--theme-text-button-secondary);
		background: var(--theme-bg-button-secondary);
	}

	button:not([disabled]):hover {
		background: var(--theme-bg-button-primary-hover);
	}

	button[data-style='secondary']:not([disabled]):hover {
		background: var(--theme-bg-button-secondary-hover);
	}

	button[disabled] {
		opacity: 0.4;
		cursor: default;
		pointer-events: none;
	}

select {
	display: block;
	margin-top: 0.25rem;
	margin-bottom: 1rem;
	border: 0.125rem var(--theme-border-input) solid;
	border-radius: 0.25rem;
	color: var(--theme-text-body);
	background-color: var(--theme-bg-input);
	padding: 0.5rem;
	font-family: var(--font-open-sans);
	font-size: 1rem;
	width: 20rem;
	cursor: pointer;
}

	select[disabled] {
		opacity: 0.4;
		cursor: default;
		pointer-events: none;
	}

	select option {
		color: var(--theme-text-body);
		background-color: var(--theme-bg-input);
		padding: 0.5rem;
		font-family: var(--font-open-sans);
		font-size: 1rem;
	}



/* ===== Tables ===== */

table {
	border-collapse: collapse;
}

	tbody tr {
		border-top: 1px var(--theme-line) solid;
	}

	th, td {
		padding: 0.5rem;
	}

	td {
		font-weight: 300;
	}



/* ===== Login Page ===== */

#page-login main {
	padding: 2rem;
	margin: 5rem auto;
}



/* ===== First-Time Setup Page ===== */

#page-first-time-setup main {
	padding: 2rem;
	margin: 5rem auto;
}



/* ===== Dashboard Page ===== */

#page-dashboard > #root > main {
	flex: 0 0 calc(100% - 24rem);
}

#page-dashboard td.actions {
	display: flex;
	align-items: baseline;
}

#page-dashboard section:is(#drafts, #posts, #mentions) {
	margin-block-end: 3rem;
}

#page-dashboard section:is(#drafts, #posts, #mentions) > h2 {
	margin-block-end: 1.5rem;
}

#page-dashboard section:is(#posts, #mentions):not(.expanded) > :is(.message, .table) {
	height: 20rem;
	overflow: auto;
}

#page-dashboard section:is(#drafts):not(.expanded) > :is(.message, .table) {
	height: 11rem;
	overflow: auto;
}

#page-dashboard section:is(#drafts, #posts, #mentions).show-message > .table,
#page-dashboard section:is(#drafts, #posts, #mentions) > .message {
	display: none;
}

#page-dashboard section:is(#drafts, #posts, #mentions) > .table {
	display: block;
}

#page-dashboard section:is(#drafts, #posts, #mentions).show-message > .message {
	display: flex;
}

#page-dashboard section:is(#drafts, #posts, #mentions) > .message p {
	margin: auto;
	text-align: center;
	font-weight: 700;
}

#page-dashboard section:is(#drafts, #posts, #mentions) > button[id^='expand-'] {
	margin: 1rem auto;
	padding: 0.125rem 2rem;
}

#page-dashboard section:is(#drafts, #posts, #mentions) table {
	width: 100%;
	margin-block: 0;
}

#page-dashboard table a.icon-only {
	margin: 0.5rem;
	color: var(--theme-text-heading);
}

#page-dashboard table button.icon-only {
	margin: 0.25rem;
	padding: 0.25rem;
}

#page-dashboard table th {
	text-align: start;
}

#page-dashboard table td {
	font-size: 1rem;
	text-align: start;
}

#page-dashboard table svg {
	--icon-size: 1rem;
}

#page-dashboard table span.post-type {
	font-weight: 700;
}



/* ===== Posts Page ===== */

/*  */



/* ===== Edit Post Page ===== */

#page-edit-post main {
	width: 100%;
	margin-block: 0;
	margin-inline: auto;
	padding-block: 0;
	padding-inline: 1rem;
}

	#page-edit-post .helper-text {
		margin-block-start: -2rem;
		margin-block-end: 4rem;
	}

	#page-edit-post main input:not([type='checkbox']),
	#page-edit-post main textarea {
		width: 100%;
		max-width: 80rem;
	}

	#page-edit-post main[data-preview] #form-edit-post {
		display: none;
	}

	#page-edit-post main:not([data-preview]) #preview {
		display: none;
	}
	
	#page-edit-post p#post-url {
		font-size: 1rem;
		color: var(--theme-text-light);
		font-style: italic;
		margin: 0 0 2rem;
	}

	#page-edit-post p#post-publish-status {
		margin: 0;
	}
	
	#page-edit-post #btn-post-publish {
		margin-left: 2rem;
	}

	#page-edit-post #btn-post-back-to-edit {
		margin: 0 0 2rem;
		position: sticky;
		top: 2rem;
		z-index: 999;
	}

	#page-edit-post .controls {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-between;
	}

		#page-edit-post .controls button {
			margin-block-start: 0;
		}

		#page-edit-post .controls .left {
			flex: 1 0 auto;
		}
		
		#page-edit-post .controls .right {
			flex: 0 1 auto;
		}

	#page-edit-post .textarea-hat {
		align-items: flex-end;
		margin-block-start: 2rem;
	}

		#page-edit-post .textarea-hat label {
			margin-block-start: 0;
		}

		#page-edit-post .textarea-hat label[for='in-post-markdown'] {
			flex: 1 0 auto;
		}
		
		#page-edit-post .textarea-hat label[for='in-post-markdown-spellcheck'] {
			flex: 0 0 auto;
		}

		#page-edit-post .textarea-hat label[for='in-post-markdown-monospace'] {
			flex: 0 0 auto;
			margin-inline-start: 1.5rem;
		}

	#page-edit-post #in-post-markdown {
		height: 50vh;
		min-height: 35rem;
	}
	
	#page-edit-post #in-post-markdown.monospace {
		font-family: var(--font-monospace);
	}
	
	#page-edit-post #in-post-markdown.no-monospace {
		font-family: var(--font-open-sans);
	}



/* ===== Mentions Settings Page ===== */

#page-mention-settings main {
	/*  */
}

	#page-mention-settings section {
		margin-block-end: 6rem;
	}

	#page-mention-settings main p {
		font-size: 1rem;
	}

	#page-mention-settings form {
		margin-block: 3rem;
		margin-inline: 2rem;
	}

	#page-mention-settings form .inputs {
		justify-content: space-evenly;
	}

	#page-mention-settings form .buttons {
		margin-block: 2rem;
		justify-content: space-evenly;
	}

	#page-mention-settings fieldset {
		margin: 2rem;
	}

	#page-mention-settings div.checkbox {
		display: flex;
		flex-direction: row;
		padding-block: 0.5rem;
		padding-inline: 0.25rem;
	}
	
	#page-mention-settings div.checkbox label,
	#page-mention-settings div.checkbox input {
		margin: 0;
	}
	
	#page-mention-settings div.checkbox input {
		margin-inline-end: 1rem;
	}

	#page-mention-settings legend {
		font-size: 1rem;
		font-weight: 700;
		font-family: var(--font-open-sans);
		margin-block-end: 1rem;
		color: var(--theme-text-heading);
	}




/* ===== Color Themes Page ===== */

#page-color-themes main {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
}

	#page-color-themes #main-panel {
		flex: 0 0 auto;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
	}

		#page-color-themes #main-panel section {
			flex: 0 0 auto;
		}

	#page-color-themes #edit-colors-panel {
		/*  */
	}

		#page-color-themes #edit-colors-panel ul {
			list-style: none;
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
		}

			#page-color-themes #edit-colors-panel ul li {
				margin: 1rem;
			}

	#page-color-themes section {
		margin: 2rem 2rem 4rem;
	}

	#page-color-themes section[disabled] {
		opacity: 0.4;
		pointer-events: none;
	}







/* ===== Tighter layout for smaller screens ===== */

@media (max-width: 60rem) {
	#root {
		padding: 2rem;
		display: block;
	}

	#root > header {
		position: static;
	}

	article > header:not(:last-child) {
		margin-bottom: 4rem;
	}

	p {
		margin: 2rem 0;
		font-size: 1rem;
	}

	code, pre {
		font-size: 1rem;
	}

	pre {
		margin: 2rem 0.5rem;
		padding: 0.5rem 1rem;
		border: 0.1rem solid var(--theme-code-gutter-divider);
		border-radius: 1rem;
		overflow: auto;
	}

	textarea {
		min-height: 10rem;
	}

	#page-edit-post main {
		padding-top: 1rem;
	}

	#page-color-themes main {
		flex-wrap: wrap;
	}
}
