
:root {
	font-size: 16px;
	--font-open-sans: 'Open Sans', sans-serif;
	--font-monospace: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
}

* {
	margin: 0;
	padding: 0;
	border: 0;
	box-sizing: border-box;
}

html, body, #root {
	height: 100%;
	min-height: 100%;
}

body {
	background: var(--theme-bg-main);
}

body[data-color-transition-enabled],
body[data-color-transition-enabled] :is(button, pre, input, textarea, select) {
	transition: background linear .5s;
}

#root {
	display: flex;
	flex-direction: column;
	padding: 2rem;
	max-width: 100rem;
	margin: auto;
}

	#root main {
		flex-grow: 1;
	}





/* ===== Main Heading ===== */

#root > header {
	padding: 0 1rem;
	position: relative;
}

	#root > header color-theme-toggle {
		display: block;
		position: absolute;
		top: 2rem;
		right: 2rem
	}

	#root > header nav {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-evenly;
		align-items: baseline;
		margin-bottom: 1.5rem;
		padding-bottom: 1.5rem;
		border-bottom: 1px var(--theme-line) solid;
	}



	
/* ===== Typography ===== */

h1, h2, h3, h4, h5, h6,
p, a, li, dt, dd, label,
table, th, td {
	font-family: var(--font-open-sans);
}

h1, h2, h3, h4, h5, h6,
th {
	color: var(--theme-text-heading);
}

code, pre {
	color: var(--theme-code-normal);
	font-family: var(--font-monospace);
	font-size: 1.35rem;
}

pre {
	margin: 3rem 2rem;
	padding: 1rem 1.5rem;
	border: 0.1rem solid var(--theme-line);
	border-radius: 1rem;
	overflow: auto;
	background: var(--theme-bg-light);
}

h1 {
	font-size: 2rem;
	font-weight: 300;
}

h2 {
	font-size: 1.5rem;
}

h3 {
	font-size: 1.17rem;
}

p, small, li, dt, dd, label,
table, td {
	color: var(--theme-text-body);
}

p {
	margin: 2rem 0;
	font-size: 1.2rem;
	line-height: 1.75;
}

li {
	font-size: 1.2rem;
	margin-block:0.5rem;
}

small {
	font-size: 0.8rem;
	font-family: var(--font-open-sans);
}

table {
	margin-block: 2rem;
}

table, th, td {
	font-size: 1.2rem;
	line-height: 1.75;
}

a {
	color: var(--theme-text-link);
	text-decoration: none;
}

a:active,
a:hover,
a:focus {
	color: var(--theme-text-link-active);
}

a:visited {
	color: var(--theme-text-link-visited);
}

h1 > a, h2 > a,
h1 > a:active, h2 > a:active,
h1 > a:hover, h2 > a:hover,
h1 > a:focus, h2 > a:focus,
h1 > a:visited, h2 > a:visited {
	color: inherit;
}

header p {
	display: block;
	margin: 1rem;
	line-height: 1;
	font-style: italic;
	font-size: 1rem;
}

footer {
	margin: 4rem 0 1rem;
}

footer p {
	margin: 1rem;
	text-align: center;
	font-size: 0.8rem;
}

blockquote {
	margin-block: 2rem;
	margin-inline: 1rem;
	padding-block: 0.5rem;
	padding-inline: 1.5rem;
	border-inline-start: 0.25rem var(--theme-line) solid;
}

	blockquote p {
		margin: 0;
	}

#todo {
	text-align: center;
	margin: 4rem;
	color: var(--theme-text-light);
	font-style: italic;
}



/* ===== Forms and Inputs ===== */

label {
	display: block;
	font-family: var(--font-open-sans);
	font-size: 1rem;
	margin-top: 1rem;
}

label:not(:first-of-type) {
	margin-top: 2rem;
}

input,
textarea {
	display: block;
	margin-top: 0.35rem;
	margin-bottom: 1rem;
	border: 0.125rem var(--theme-border-input) solid;
	border-radius: 0.25rem;
	color: var(--theme-text-body);
	background-color: var(--theme-bg-input);
	padding: 0.5rem;
	font-family: var(--font-open-sans);
	font-size: 1rem;
	width: 20rem;
}

	input[disabled],
	textarea[disabled] {
		opacity: 0.4;
		cursor: default;
		pointer-events: none;
	}

	input[type='text']:invalid,
	input[type='password']:invalid,
	textarea:invalid {
		border-color: var(--theme-border-input-invalid);
	}

textarea {
	font-size: 1.4rem;
	line-height: 1.7rem;
	font-family: var(--font-monospace);
}

	textarea.ruled {
		background: linear-gradient(to bottom,
			var(--theme-bg-input) 0,
			var(--theme-bg-input) 1.4rem,
			var(--theme-line) 1.4rem,
			var(--theme-line) 1.5rem,
			var(--theme-bg-input) 1.5rem
		);
		background-attachment: local;
		background-repeat: repeat;
		background-size: auto 1.7rem;
		background-position: 0 0.6rem;
	}

::-webkit-input-placeholder {
	color: var(--theme-text-light);
}

button {
	padding: 0.5rem 1.5rem;
	border-radius: 0.5rem;
	font-size: 1rem;
	margin-top: 1rem;
	cursor: pointer;
	user-select: none;
	appearance: none;
	color: var(--theme-text-button-primary);
	background: var(--theme-bg-button-primary);
	text-decoration: none;
	transition: background linear .125s;
	font-size: 1rem;
	font-family: var(--font-open-sans);
	font-weight: 700;
	line-height: 2rem;
}

	button[data-style='secondary'] {
		color: var(--theme-text-button-secondary);
		background: var(--theme-bg-button-secondary);
	}

	button:not([disabled]):hover {
		background: var(--theme-bg-button-primary-hover);
	}

	button[data-style='secondary']:not([disabled]):hover {
		background: var(--theme-bg-button-secondary-hover);
	}

	button[disabled] {
		opacity: 0.4;
		cursor: default;
		pointer-events: none;
	}

select {
	display: block;
	margin-top: 0.25rem;
	margin-bottom: 1rem;
	border: 0.125rem var(--theme-border-input) solid;
	border-radius: 0.25rem;
	color: var(--theme-text-body);
	background-color: var(--theme-bg-input);
	padding: 0.5rem;
	font-family: var(--font-open-sans);
	font-size: 1rem;
	width: 20rem;
	cursor: pointer;
}

	select[disabled] {
		opacity: 0.4;
		cursor: default;
		pointer-events: none;
	}

	select option {
		color: var(--theme-text-body);
		background-color: var(--theme-bg-input);
		padding: 0.5rem;
		font-family: var(--font-open-sans);
		font-size: 1rem;
	}



/* ===== Tables ===== */

table {
	border-collapse: collapse;
}

	tbody tr {
		border-top: 1px var(--theme-line) solid;
	}

	th, td {
		padding: 0.5rem;
	}

	td {
		font-weight: 300;
	}



/* ===== Login Page ===== */

#page-login main {
	padding: 2rem;
	margin: 5rem auto;
}



/* ===== First-Time Setup Page ===== */

#page-first-time-setup main {
	padding: 2rem;
	margin: 5rem auto;
}



/* ===== Posts Page ===== */

/*  */



/* ===== Edit Post Page ===== */

#page-edit-post main {
	width: 100%;
	max-width: 80rem;
	margin: 0 auto;
	padding: 3rem 1rem;
}

	#page-edit-post main input,
	#page-edit-post main textarea {
		width: 100%;
		max-width: 80rem;
	}

	#page-edit-post main[data-preview] #form-edit-post {
		display: none;
	}

	#page-edit-post main:not([data-preview]) #preview {
		display: none;
	}
	
	#page-edit-post p#post-url {
		font-size: 1rem;
		color: var(--theme-text-light);
		font-style: italic;
		margin: 0 0 2rem;
	}

	#page-edit-post p#post-publish-status {
		margin: 0;
	}
	
	#page-edit-post #btn-post-toggle-publish {
		margin-left: 2rem;
	}

	#page-edit-post #btn-post-back-to-edit {
		margin: 0 0 2rem;
		position: sticky;
		top: 2rem;
	}

	#page-edit-post .controls {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-between;
	}

		#page-edit-post .controls .left {
			flex: 1 0 auto;
		}
		
		#page-edit-post .controls .right {
			flex: 0 1 auto;
		}

	#page-edit-post #in-post-markdown {
		min-height: 35rem;
	}



/* ===== Color Themes Page ===== */

#page-color-themes main {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
}

	#page-color-themes #main-panel {
		flex: 0 0 auto;
		display: flex;
		flex-direction: column;
		flex-wrap: nowrap;
	}

		#page-color-themes #main-panel section {
			flex: 0 0 auto;
		}

	#page-color-themes #edit-colors-panel {
		flex: 0 0 calc(100% - 27rem);
	}

		#page-color-themes #edit-colors-panel ul {
			list-style: none;
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
		}

			#page-color-themes #edit-colors-panel ul li {
				margin: 1rem;
			}

	#page-color-themes section {
		margin: 2rem 3rem 4rem;
	}

	#page-color-themes section[disabled] {
		opacity: 0.4;
		pointer-events: none;
	}







/* ===== Tighter layout for smaller screens ===== */

@media (max-width: 60rem) {
	#root {
		padding: 2rem 0;
	}
	
	#root > header nav {
		margin-top: 1.5rem;
	}
	
		#root > header nav a {
			margin: 0.25rem 0.65rem;
		}

	article > header:not(:last-child) {
		margin-bottom: 4rem;
	}

	p {
		margin: 2rem 0;
		font-size: 1rem;
	}

	code, pre {
		font-size: 1rem;
	}

	pre {
		margin: 2rem 0.5rem;
		padding: 0.5rem 1rem;
		border: 0.1rem solid var(--theme-code-gutter-divider);
		border-radius: 1rem;
		overflow: auto;
	}

	textarea {
		min-height: 10rem;
	}

	#page-edit-post main {
		padding-top: 1rem;
	}

	#page-color-themes main {
		flex-wrap: wrap;
	}
}
