
<link rel="alternate" type="text/calendar" href="{{{ post.post_url }}}/event.ics" title="iCalendar Event">

<meta property="og:type" content="article">
<meta property="og:url" content="{{{ post.post_url }}}">
<meta property="og:title" content="{{ post.title }}">
<meta property="og:site_name" content="{{ feed.title }}">
{{# post.subtitle }}
<meta property="og:description" content="{{ post.subtitle }}">
{{/ post.subtitle }}
{{# post.author_url }}
<meta property="og:article:author" content="{{ post.author_url }}">
{{/ post.author_url }}

<meta property="event:start_time" content="{{ post.date_event_start_iso }}">
<meta property="event:end_time" content="{{ post.date_event_end_iso }}">
