{{# post }}
<!-- Note: non-standard inclusion of `h-event` in `h-feed` -->
<article class="h-entry h-event" data-post-type="event">
	<header>
		<h2>
			{{> author_card }}
			Created an Event:<br>
			<span class="p-name">{{ title }}</span>
		</h2>
	
		{{# subtitle }}
		<p class="p-summary">{{ subtitle }}</p>
		{{/ subtitle }}

		{{# date_event_start_iso }}
		<p class="start date">Starts: <time datetime="{{ date_event_start_iso }}" class="dt-start">{{ date_event_start_utc }}</time></p>
		{{/ date_event_start_iso }}

		{{# date_event_end_iso }}
		<p class="end date">Ends: <time datetime="{{ date_event_end_iso }}" class="dt-end">{{ date_event_end_utc }}</time></p>
		{{/ date_event_end_iso }}
	</header>

	<main class="e-content">
		{{{ content_html }}}
	</main>

	<footer>
		<ul class="tag-list">
			{{# tags }}
			<li class="p-category" data-bg-transition>
				<a rel="tag" href="{{{ site.url }}}/tagged/{{ . }}">{{ . }}</a>
			</li>
			{{/ tags }}
		</ul>
		<p>
			<a class="u-url" href="{{{ post_url }}}">Permalink</a>
			{{# date_published_iso }}
			| <time class="dt-published" datetime="{{ date_published_iso }}">{{ date_published_utc }}</time>
			{{/ date_published_iso }}
	
			{{# date_updated_iso }}
			| Updated: <time class="dt-updated" datetime="{{ date_updated_iso }}">{{ date_updated_utc }}</time>
			{{/ date_updated_iso }}
		</p>
	</footer>

	{{# mentions.length }}
	<aside class="mention-thread">
		<h2>Recent Mentions:</h2>
		<a href="{{{ post_url }}}/mentions">See All ({{ mentions.length }}) Mentions</a>
		<ul>
			{{# mentions_top_5 }}
			<li>
				{{> mention_card }}
			</li>
			{{/ mentions_top_5 }}
		</ul>
	</aside>
	{{/ mentions.length }}
</article>
{{/ post }}