<article role="comment" class="{{ mention_type_class }} h-cite" id="mention-{{ snowflake }}">
	<header>
		{{# is_bookmark_of_this }}
		{{{ icons.bookmark }}}
		<h1 class="p-name">{{> author_card }} bookmarked this</h1>
		{{/ is_bookmark_of_this }}
		
		{{^ is_bookmark_of_this }}
		{{# is_repost_of_this }}
		{{{ icons.repeat }}}
		<h1 class="p-name">{{> author_card }} reposted this</h1>
		{{/ is_repost_of_this }}
		
		{{^ is_repost_of_this }}
		{{# is_like_of_this }}
		{{{ icons.thumbs-up }}}
		<h1 class="p-name">{{> author_card }} liked this</h1>
		{{/ is_like_of_this }}
		
		{{^ is_like_of_this }}
		{{# is_reply_to_this }}
		
		{{# is_rsvp }}
		{{# external.rsvp_yes }}
		{{{ icons.check-circle }}}
		<h1 class="p-name">{{> author_card }} is going</h1>
		{{/ external.rsvp_yes }}
		
		{{# external.rsvp_no }}
		{{{ icons.x-circle }}}
		<h1 class="p-name">{{> author_card }} is not going</h1>
		{{/ external.rsvp_no }}
		
		{{# external.rsvp_maybe }}
		{{{ icons.help-circle }}}
		<h1 class="p-name">{{> author_card }} might be going</h1>
		{{/ external.rsvp_maybe }}
		
		{{# external.rsvp_interested }}
		{{{ icons.info }}}
		<h1 class="p-name">{{> author_card }} is interested</h1>
		{{/ external.rsvp_interested }}
		{{/ is_rsvp }}
		
		{{^ is_rsvp }}
		{{{ icons.message-circle }}}
		<h1 class="p-name">{{> author_card }} commented</h1>
		{{/ is_rsvp }}
		{{/ is_reply_to_this }}
		
		{{^ is_reply_to_this }}
		{{{ icons.message-circle }}}
		<h1 class="p-name">{{> author_card }} mentioned this</h1>
		{{/ is_reply_to_this }}

		{{/ is_like_of_this }}
		{{/ is_repost_of_this }}
		{{/ is_bookmark_of_this }}
	</header>

	{{# external.full_content }}
	<main class="e-content">
		<p>{{{ external.full_content }}}</p>
	</main>
	{{/ external.full_content }}

	<footer>
		<p>
			<a href="{{{ local_mention_url }}}">Permalink</a>
			| <a class="u-url" rel="{{^ is_local }}external{{/ is_local }}" href="{{{ source_url }}}">Source</a>

			{{# external.published }}
			| <time class="dt-published" datetime="{{ iso }}">{{ utc }}</time>
			{{/ external.published }}
	
			{{# external.updated }}
			| Updated: <time class="dt-updated" datetime="{{ iso }}">{{ utc }}</time>
			{{/ external.updated }}
			
			| Received: <time datetime="{{ received.iso }}">{{ received.utc }}</time>
		</p>
	</footer>
</article>