<article class="h-entry" data-post-type="note">
	<header>
		<div class="icon-wrapper">
			{{{ icons.edit-3 }}}
			<h3>{{> author_card }} Posted a Note:</h3>
		</div>
	</header>

	<main class="e-content">
		{{{ content_html }}}
	</main>

	<footer>
		<ul class="tag-list">
			{{# tags }}
			<li class="p-category" data-bg-transition>
				<a rel="tag" href="{{{ site.url }}}/tagged/{{ . }}">{{ . }}</a>
			</li>
			{{/ tags }}
		</ul>
		<p>
			<a class="u-url" href="{{{ post_url }}}">Permalink</a>
			{{# date_published_iso }}
			| <time class="dt-published" datetime="{{ date_published_iso }}">{{ date_published_utc }}</time>
			{{/ date_published_iso }}
	
			{{# date_updated_iso }}
			| Updated: <time class="dt-updated" datetime="{{ date_updated_iso }}">{{ date_updated_utc }}</time>
			{{/ date_updated_iso }}
		</p>

		{{# page.is_search }}
		<div class="search-meta" role="note">
			Search Score: <span class="score">{{ search_score }}</span>
			Matched Terms: <ul class="terms">
				{{# search_terms }}<li>{{ . }}</li>{{/ search_terms }}
			</ul>
		</div>
		{{/ page.is_search }}
	</footer>
</article>