<!doctype html>
<html lang="{{ site.language }}" class="h-feed">
<head>
	<meta charset="UTF-8">
	<title>{{ page.title }}</title>
	<meta name="color-scheme" content="dark light">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="icon" href="{{{ site.url }}}/favicon.png">
	<link rel="self" href="{{{ page.url }}}">
	<link rel="cannonical" href="{{{ page.url }}}">
	<link rel="sitemap" href="{{{ site.url }}}/sitemap.xml">
	<link rel="alternate" type="text/mfs+html" href="{{{ site.url }}}" title="h-feed microformat">
	<link rel="alternate" type="application/rss+xml" href="{{{ feed.url_rss }}}" title="RSS Feed">
	<link rel="alternate" type="application/atom+xml" href="{{{ feed.url_atom }}}" title="Atom Feed">
	<link rel="alternate" type="application/feed+json" href="{{{ feed.url_json_feed }}}" title="JSON Feed">
	{{# feed.receive_webmention_enabled }}
	<link rel="webmention" href="{{{ feed.url_webmention }}}">
	<!-- Non-standard "rel" value; What is the best way to communicate the location of this information? -->
	<link rel="webmention-trusted-sources" href="{{{ feed.url_webmention_trusted }}}">
	{{/ feed.receive_webmention_enabled }}
	{{# feed.receive_pingback_enabled }}
	<link rel="pingback" href="{{{ feed.url_pingback }}}">
	{{/ feed.receive_pingback_enabled }}

	<!-- Font imports -->
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;1,400;1,600&display=swap">

	<link rel="stylesheet" href="{{{ site.url }}}/colors.css">
	<link rel="stylesheet" href="{{{ site.url }}}/prism.css">
	<link rel="stylesheet" href="{{{ site.url }}}/katex/katex.css">
	<link rel="stylesheet" href="{{{ site.url }}}/styles.css">

	<script src="{{{ site.url }}}/time.js" async></script>
	<script src="{{{ site.url }}}/svg_icon.js" async></script>
	
	{{> page_head }}
</head>
<body>
	<script src="{{{ site.url }}}/color_theme_toggle.js"></script>

	<div id="root">
		<header>
			<h1>Feed Title</h1>
			<color-theme-toggle></color-theme-toggle>
		</header>

		{{> page_content }}

		<footer>
			<!--  -->
		</footer>
	</div>
</body>
</html>