
/* ===== Feed View ===== */

section.feed-list > h2 {
	font-size: 2rem;
	font-weight: 300;
	margin-block: 2rem;
}

section.feed-list article {
	margin-block-end: 6rem;
}

section.feed-list article header .icon-wrapper {
	display: flex;
	align-items: center;
	--icon-size: 2rem;
}

section.feed-list article header .icon-wrapper svg {
	color: var(--theme-text-heading);
	margin-inline-end: 1rem;
	flex: 0 0 auto;
}

section.feed-list article[data-post-type] footer {
	margin-block-start: 1rem;
}







/* === Posts === */

section.feed-list article[data-post-type='post'] header h3 {
	font-size: 1rem;
	margin-block: 0rem;
}

section.feed-list article[data-post-type='post'] header h3 a.post-link {
	font-size: 1.5rem;
}

section.feed-list article[data-post-type='post'] header p {
	margin-block: 0.25rem;
	margin-inline: 0;
	font-size: 1rem;
}

section.feed-list article[data-post-type='post'] header p.p-summary {
	font-weight: 700;
	color: var(--theme-text-light);
}

section.feed-list article[data-post-type='post'] footer p {
	font-size: 0.8rem;
	margin-block: 0.5rem;
}







/* === Comments === */

section.feed-list article[data-post-type='comment'] header h3 {
	font-size: 1rem;
	margin-block: 0rem;
}

section.feed-list article[data-post-type='comment'] main {
	margin-block: 0.5rem;
}

section.feed-list article[data-post-type='comment'] main :is(p, pre, blockquote) {
	margin-block: 1rem;
}

section.feed-list article[data-post-type='comment'] footer p {
	font-size: 0.8rem;
	margin-block: 0.5rem;
}







/* === Notes === */

section.feed-list article[data-post-type='note'] header h3 {
	font-size: 1rem;
	margin-block: 0rem;
}

section.feed-list article[data-post-type='note'] main {
	margin-block: 0.5rem;
}

section.feed-list article[data-post-type='note'] main :is(p, pre, blockquote) {
	margin-block: 1rem;
}

section.feed-list article[data-post-type='note'] footer p {
	font-size: 0.8rem;
	margin-block: 0.5rem;
}







/* === Events === */

section.feed-list article[data-post-type='event'] header h3 {
	font-size: 1rem;
	margin-block: 0rem;
}

section.feed-list article[data-post-type='event'] header h3 a.event-link {
	font-size: 1.5rem;
}

section.feed-list article[data-post-type='event'] header p {
	margin-block: 0.25rem;
	margin-inline: 0;
	font-size: 1rem;
}

section.feed-list article[data-post-type='event'] header p.p-summary {
	font-weight: 700;
	color: var(--theme-text-light);
}

section.feed-list article[data-post-type='event'] header p.date.start,
section.feed-list article[data-post-type='event'] header p.date.end {
	font-size: 0.8rem;
}

section.feed-list article[data-post-type='event'] footer p {
	font-size: 0.8rem;
	margin-block: 0.5rem;
}







/* === RSVPs === */

section.feed-list article[data-post-type='rsvp'] header h3 {
	font-size: 1rem;
	margin-block: 0rem;
}

section.feed-list article[data-post-type='rsvp'] header h3 .u-in-reply-to a {
	font-size: 1.5rem;
}

section.feed-list article[data-post-type='rsvp'] header p {
	margin-block: 0.25rem;
	margin-inline: 0;
	font-size: 1rem;
}

section.feed-list article[data-post-type='rsvp'] header p.p-summary {
	font-weight: 700;
	color: var(--theme-text-light);
}

section.feed-list article[data-post-type='rsvp'] header p.date.start,
section.feed-list article[data-post-type='rsvp'] header p.date.end {
	font-size: 0.8rem;
}

section.feed-list article[data-post-type='rsvp'] footer p {
	font-size: 0.8rem;
	margin-block: 0.5rem;
}







/* === Embeded External Posts === */

section.feed-list blockquote.external-embed article {
	margin-block-end: 0;
}

section.feed-list blockquote.external-embed header h1 {
	margin-block-start: 0;
	font-size: 1.5rem;
	font-weight: 300;
}

section.feed-list blockquote.external-embed main p {
	font-size: 1rem;
}







/* === Search Metadata === */

section.feed-list div.search-meta {
	font-size: 0.8rem;
	margin-block: 0.5rem;
	font-family: var(--font-open-sans);
	color: var(--theme-text-body);
	line-height: 1.75;
}

section.feed-list div.search-meta span.score {
	margin-inline-end: 0.25rem;
}






















/* ===== Post View ===== */


/* === Posts === */

main[data-page='post'] article header h1 {
	margin-block-start: 2rem;
}

main[data-page='post'] article header p {
	margin-block: 0.5rem;
	margin-inline: 0;
	font-size: 1rem;
}

main[data-page='post'] article header p.date.updated,
main[data-page='post'] article header p.date.published {
	font-size: 0.8rem;
}

main[data-page='post'] article header p.author {
	/*  */
}

main[data-page='post'] article header p.p-summary {
	font-size: 1rem;
	font-weight: 700;
	color: var(--theme-text-light);
}

main[data-page='post'] article header ul.tag-list {
	margin-block-start: 1rem;
}

@media (max-width: 1600px) {
	main[data-page='post'] article header h1 {
		margin-block-start: 1rem;
	}
}







/* === Comments === */

main[data-page='comment'] article {
	/*  */
}

main[data-page='comment'] article header h1 {
	font-weight: 700;
	font-size: 1.5rem;
	margin-block-start: 2rem;
}

main[data-page='comment'] article main.e-content {
	/*  */
}

main[data-page='comment'] article footer p {
	font-size: 0.8rem;
	margin: 1rem 0;
}







/* === Notes === */

main[data-page='note'] article {
	/*  */
}

main[data-page='note'] article header h1 {
	font-size: 1.5rem;
	font-weight: 700;
	margin-block-start: 2rem;
}

main[data-page='note'] article main.e-content {
	padding-block: 1rem;
}

main[data-page='note'] article footer p {
	font-size: 0.8rem;
	margin: 1rem 0;
}







/* === Events === */

main[data-page='event'] article {
	margin-inline: auto;
}

main[data-page='event'] article header h1 {
	font-size: 1.5rem;
	font-weight: 700;
	margin-block-start: 2rem;
}

main[data-page='event'] article header h1 span.p-name {
	font-size: 2rem;
	font-weight: 300;
}

main[data-page='event'] article header p {
	margin-block: 0.5rem;
	margin-inline: 0;
	font-size: 1rem;
}

main[data-page='event'] article header p.date.updated,
main[data-page='event'] article header p.date.published {
	font-size: 0.8rem;
}

main[data-page='event'] article header p.author {
	/*  */
}

main[data-page='event'] article header p.p-summary {
	font-size: 1rem;
	font-weight: 700;
	color: var(--theme-text-light);
}

main[data-page='event'] article main.e-content {
	padding-block: 1rem;
}

main[data-page='event'] article footer p {
	font-size: 0.8rem;
	margin: 1rem 0;
}

@media (max-width: 1600px) {
	main[data-page='event'] article header h1 {
		margin-block-start: 1rem;
	}
}







/* === RSVPs === */

main[data-page='rsvp'] article {
	/*  */
}

main[data-page='rsvp'] article header h1 {
	font-size: 1.5rem;
	font-weight: 700;
	margin-block-start: 2rem;
}

main[data-page='rsvp'] article main.e-content {
	padding-block: 1rem;
}

main[data-page='rsvp'] article footer p {
	font-size: 0.8rem;
	margin: 1rem 0;
}







/* === External Embeds === */

main:is([data-page='comment'], [data-page='rsvp']) header blockquote.external-embed article {
	margin-block-end: 0;
}

main:is([data-page='comment'], [data-page='rsvp']) header blockquote.external-embed header h1 {
	margin-block-start: 0;
	font-weight: 300;
	font-size: 1.5rem;
}

main:is([data-page='comment'], [data-page='rsvp']) header blockquote.external-embed header p {
	margin-block: 0.25rem;
	font-size: 1rem;
}

main:is([data-page='comment'], [data-page='rsvp']) header blockquote.external-embed header p.p-summary {
	font-weight: 700;
	color: var(--theme-text-light);
}

main:is([data-page='comment'], [data-page='rsvp']) header blockquote.external-embed main p {
	font-size: 1rem;
}
























/* ===== Mentions ===== */

aside.mention-thread {
	margin-top: 10rem;
}

aside.mention-thread > h2 {
	margin-top: 0;
	font-size: 2rem;
	font-weight: 300;
}

aside.mention-thread > ul {
	list-style: none;
	padding-inline-start: 0;
}

aside.mention-thread article[role='comment'] {
	margin-block: 4rem;
	/* padding-inline-start: 1.5rem;
	border-inline-start: 0.5rem var(--theme-line) solid;
	padding-block: 1rem;
	background: var(--theme-bg-light);
	margin-inline-end: 1rem; */
}

aside.mention-thread article[role='comment'] > main {
	max-height: 70vh;
	overflow-y: auto;
	padding-block: 0;
}

aside.mention-thread article[role='comment'] > main p {
	margin-block: 1rem;
}

aside.mention-thread article[role='comment'] > header {
	display: flex;
	align-items: flex-end;
	--icon-size: 1.5rem;
}

aside.mention-thread article[role='comment'] > header h1 {
	font-size: 1.2rem;
	font-weight: 700;
	margin-block: 0;
	margin-inline-start: 1rem;
}

aside.mention-thread article[role='comment'] > footer p {
	font-size: 0.8rem;
	margin-block: 0.5rem;
}





@media (max-width: 1600px) {
	section.feed-list blockquote.external-embed header h1 {
		font-size: 1.5rem;
	}

	main:is(
		[data-page='post'],
		[data-page='comment'],
		[data-page='note'],
		[data-page='event'],
		[data-page='rsvp']
	) article header blockquote.external-embed header h1 {
		font-size: 1.5rem;
	}

	section.feed-list article:is(
		[data-post-type='post'],
		[data-post-type='comment'],
		[data-post-type='note'],
		[data-post-type='event'],
		[data-post-type='rsvp']
	) header p {
		font-size: 0.8rem;
	}
}
