<!doctype html>
<html lang="{{ site.language }}">
<head>
	<meta charset="UTF-8">
	<title>{{ page.title }}</title>
	<meta name="color-scheme" content="dark light">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="{{ page.description }}">

	{{> page_specific_meta_tags }}

	<link rel="icon" href="{{{ site.url }}}/favicon.png">
	{{# feed.search_enabled }}
	<link rel="search" href="{{{ site.url }}}/opensearch.xml" type="application/opensearchdescription+xml" title="Content Search">
	{{/ feed.search_enabled }}
	<link rel="sitemap" href="{{{ site.url }}}/sitemap.xml">
	<link rel="self" type="text/mfs+html" href="{{{ page.url }}}">
	<link rel="cannonical" type="text/mfs+html" href="{{{ page.url }}}">
	<link rel="alternate" type="application/rss+xml" href="{{{ feed.url_rss }}}" title="RSS Feed">
	<!-- <link rel="alternate" type="application/atom+xml" href="{{{ feed.url_atom }}}" title="Atom Feed"> -->
	<link rel="alternate" type="application/feed+json" href="{{{ feed.url_json_feed }}}" title="JSON Feed">
	{{# feed.receive_webmention_enabled }}
	<link rel="webmention" href="{{{ feed.url_webmention }}}">
	<!-- Non-standard "rel" value; What is the best way to communicate the location of this information? -->
	<link rel="webmention-trusted-sources" href="{{{ feed.url_webmention_trusted }}}">
	{{/ feed.receive_webmention_enabled }}
	{{# feed.receive_pingback_enabled }}
	<link rel="pingback" href="{{{ feed.url_pingback }}}">
	{{/ feed.receive_pingback_enabled }}

	<!-- Font imports -->
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;1,400;1,600&display=swap">
	<!-- FIXME: For some reason, the katex fonts were invalid when trying to serve them from
	     the installed library version; Ideally, these files would be self-served. See also
	     the markdown preview which includes this file itself separately -->
	<link rel="preconnect" href="https://cdn.jsdelivr.net">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.15.3/dist/katex.min.css">

	<link rel="stylesheet" href="{{{ site.url }}}/colors.css">
	<link rel="stylesheet" href="{{{ site.url }}}/styles.css">
	<link rel="stylesheet" href="{{{ site.url }}}/prism.css">
</head>
<body class="{{# page.is_feed }}h-feed{{/ page.is_feed }}">
	<script src="{{{ site.url }}}/color_theme_toggle.js"></script>
	<color-theme-toggle></color-theme-toggle>

	<div id="root">
		<div id="header-sidebar">
			<header>
				<h1 class="p-name">
					<a class="u-url" href="{{{ site.url }}}">{{ feed.title }}</a>
				</h1>

				{{# feed.description }}
				<p class="p-summary">{{ feed.description }}</p>
				{{/ feed.description }}
			</header>

			<aside>
				{{# feed.search_enabled }}
				<h2 id="search-heading">Search</h2>
				<form action="{{{ site.url }}}/search" method="get" class="search">
					<input type="text" name="query" aria-labelledby="search-heading" role="search">
					<button type="submit" class="icon-only" title="Search">
						{{{ icons.search }}}
					</button>
				</form>
				{{/ feed.search_enabled }}

				<h2>Tags</h2>
				<ul class="tag-list">
					{{# feed.all_tags }}
					<li class="p-category" data-bg-transition>
						<a href="{{{ tag_url }}}">{{ tag_name }}</a>
						{{# feed.show_tag_counts }}(x{{ tag_count }}){{/ feed.show_tag_counts }}
					</li>
					{{/ feed.all_tags }}
				</ul>

				{{# feed.links.length }}
				<h2>Links</h2>
				<ul class="link-list">
					{{# feed.links }}
					<li>
						{{{ icon }}}
						<a href="{{{ link_url }}}" rel="{{ rel }}">{{ label }}</a>
					</li>
					{{/ feed.links }}
				</ul>
				{{/ feed.links.length }}
			</aside>
		</div>

		<main role="main" data-page="{{ page.page_name }}">
			{{> page_content }}
		</main>
	</div>

	<footer>
		{{# feed.copyright_notice }}
		<p>{{ feed.copyright_notice }}</p>
		{{/ feed.copyright_notice }}
		<p>
			<a rel="alternate" type="application/rss+xml" href="{{{ feed.url_rss }}}" title="RSS">RSS</a> |
			<a rel="alternate" type="application/feed+json" href="{{{ feed.url_json_feed }}}" title="JSON Feed">JSON Feed</a> |
			<code>h-feed</code> Embedded
			{{# feed.receive_webmention_enabled }}| WebMentions Enabled{{/ feed.receive_webmention_enabled }}
			{{# feed.receive_pingback_enabled }}| Pingbacks Enabled{{/ feed.receive_pingback_enabled }}
		</p>
		<p>
			<a href="https://github.com/kbjr/minimal-blog">Minimal Blog</a>
			/ Version {{ site.app_version }}
		</p>
	</footer>

	<script src="{{{ site.url }}}/time.js" async></script>
</body>
</html>