<article class="h-entry" data-post-type="post">
	<header>
		<h3 class="p-name">
			<a class="u-url" href="{{{ post_url }}}">{{ title }}</a>
		</h3>
	
		{{# subtitle }}
		<p class="p-summary">{{ subtitle }}</p>
		{{/ subtitle }}
	
		<p>By: {{> author_card }}</p>
	
		{{# date_published_iso }}
		<p class="date published">Published: <time class="dt-published" datetime="{{ date_published_iso }}">{{ date_published_utc }}</time></p>
		{{/ date_published_iso }}
	
		{{# date_updated_iso }}
		<p class="date updated">Updated: <time class="dt-updated" datetime="{{ date_updated_iso }}">{{ date_updated_utc }}</time></p>
		{{/ date_updated_iso }}
	</header>

	<footer>
		<ul class="tag-list">
			{{# tags }}
			<li class="p-category" data-bg-transition>
				<a rel="tag" href="{{{ site.url }}}/tagged/{{ . }}">{{ . }}</a>
			</li>
			{{/ tags }}
		</ul>

		{{# page.is_search }}
		<div class="search-meta" role="note">
			Search Score: <span class="score">{{ search_score }}</span>
			Matched Terms: <ul class="terms">
				{{# search_terms }}<li>{{ . }}</li>{{/ search_terms }}
			</ul>
		</div>
		{{/ page.is_search }}
	</footer>
</article>