{{# post }}
<article class="h-entry" data-post-type="post">
	<header>
		<h1>
			<span class="p-name">{{ title }}</span>
			<a href="{{{ post_url }}}" class="u-url heading-anchor">
				<svg-icon aria-hidden="true" icon="link"></svg-icon>
				<span style="display: none">Permalink to Post</span>
			</a>
		</h1>
		
		{{# subtitle }}
		<p class="p-summary">{{ subtitle }}</p>
		{{/ subtitle }}
	
		<p class="author">By: {{> author_card }}</p>
	
		{{# date_published_iso }}
		<p class="date published">Published: <time class="dt-published" datetime="{{ date_published_iso }}">{{ date_published_utc }}</time></p>
		{{/ date_published_iso }}
	
		{{# date_updated_iso }}
		<p class="date updated">Updated: <time class="dt-updated" datetime="{{ date_updated_iso }}">{{ date_updated_utc }}</time></p>
		{{/ date_updated_iso }}

		<ul class="tag-list">
			{{# tags }}
			<li class="p-category" data-bg-transition>
				<a rel="tag" href="{{{ site.url }}}/tagged/{{ . }}">{{ . }}</a>
			</li>
			{{/ tags }}
		</ul>
	</header>

	<main class="e-content">
		{{{ content_html }}}
	</main>

	<footer>
		<!-- TODO: Mentions -->
	</footer>
</article>
{{/ post }}