
:root {
	font-size: 16px;
	--font-open-sans: 'Open Sans', sans-serif;
	--font-monospace: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
}

* {
	margin: 0;
	padding: 0;
	border: 0;
	box-sizing: border-box;
}

html, body, #root {
	height: 100%;
	min-height: 100%;
}

body {
	background: var(--theme-bg-main);
}

body[data-color-transition-enabled],
body[data-color-transition-enabled] :is(button, pre, input, textarea, select) {
	transition: background linear .5s;
}

#root {
	display: flex;
	flex-direction: column;
	padding: 2rem;
	max-width: 100rem;
	margin: auto;
}





/* ===== Main Heading ===== */

#root > header {
	padding: 0 1rem;
	display: flex;
	flex-direction: row;
}

	#root > header h1 {
		flex-grow: 1;
	}





/* ===== Main Content ===== */

#root > main {
	padding: 0rem 1rem 1rem;
}

	p.intro {
		margin: 0rem 0rem 3rem;
	}

	section.posts {
		/*  */
	}

		h2.view-heading {
			color: var(	--theme-text-heading);
			margin-bottom: 1.5rem;
			font-weight: 400;
		}

		section.posts article {
			padding: 0;
		}

	section.tags:not(:empty) {
		margin-bottom: 4rem;
	}
	
		section.tags h2 {
			font-weight: 400;
		}
	
		section.tags div {
			display: flex;
			align-items: center;
			flex-direction: row;
			flex-wrap: wrap;
			padding-top: 1rem;
		}
	
			section.tags a {
				display: inline-block;
				padding: 0.5rem;
				border: 0.1rem solid var(--theme-line);
				line-height: 1;
				border-radius: 0.5rem;
				margin-left: 1rem;
				margin-bottom: 1rem;
			}





/* ===== Articles / Posts ===== */

article.h-entry {
	/*  */
}

	article.h-entry header {
		margin-bottom: 6rem;
	}

		article.h-entry header h1 {
			margin-bottom: 0;
		}
	
		article.h-entry header p {
			margin: 0;
		}
	
		article.h-entry header p.subtitle {
			margin-block: 0.5rem;
			margin-inline-start: 2rem;
		}
	
		article.h-entry header p:not(.subtitle) {
			color: var(--theme-text-light);
			font-size: 0.8rem;
			margin-inline-start: 4rem
		}
	
		article.h-entry header p.p-author {
			margin-block-start: 0.5rem;
		}




/* ===== Footer ===== */

#root > footer {
	padding: 1rem;
}



/* ===== Post ===== */

article {
	margin: 3rem 0;
}

	article:first-of-type {
		margin-top: 0;
	}

article > header:not(:last-child) {
	margin-bottom: 6rem;
}

	article > header h2 {
		margin: 0.5rem 0;
		font-size: 2rem;
		font-weight: normal;
	}

	article > header small {
		margin: 0rem 0.5rem;
		line-height: 1.5;	
	}

article > main {
	margin-top: 2rem;
}

article > footer {
	margin-top: 10rem;
}

	article > footer .tags {
		display: flex;
		align-items: center;
		flex-direction: row;
		flex-wrap: wrap;
	}

		article > footer .tags h3 {
			font-size: 1rem;
			font-weight: 400;
		}

		article > footer .tags a {
			display: inline-block;
			padding: 0.5rem;
			border: 0.1rem solid var(--theme-line);
			line-height: 1;
			border-radius: 0.5rem;
			margin-left: 1rem;
		}

		article > footer .tags em {
			margin-left: 2rem;
			font-family: var(--font-open-sans);
			font-weight: normal;
			font-size: 1rem;
		}

section.posts article > header:not(:last-child) {
	margin-bottom: 0;
}

section.posts article > footer {
	margin-top: 1.5rem;
	margin-bottom: 5rem;
}

address.p-author {
	display: inline-block;
}





/* ===== Typography ===== */

h1, h2, h3, h4, h5, h6,
p, a, li, dt, dd {
	font-family: var(--font-open-sans);
}

h1, h2, h3, h4, h5, h6 {
	color: var(--theme-text-heading);
}

code, pre {
	color: var(--theme-code-normal);
	font-family: var(--font-monospace);
	font-size: 1.35rem;
}

pre {
	margin: 3rem 2rem;
	padding: 1rem 1.5rem;
	border: 0.1rem solid var(--theme-line);
	border-radius: 1rem;
	overflow: auto;
}

h1 {
	font-size: 2rem;
	font-weight: 300;
}

h2 {
	font-size: 1.5rem;
	margin-block: 6rem 1rem;
}

h3 {
	font-size: 1.17rem;
	margin-block: 3rem 1rem;
}

p, small, li, dt, dd {
	color: var(--theme-text-body);
}

p {
	margin: 3rem 0;
	font-size: 1.2rem;
	line-height: 1.75;
}

small {
	font-size: 0.8rem;
	font-family: var(--font-open-sans);
	/* font-family: var(--font-nunito); */
}

a {
	color: var(--theme-text-link);
	text-decoration: none;
}

a:active,
a:hover,
a:focus {
	color: var(--theme-text-link-active);
}

a:visited {
	color: var(--theme-text-link-visited);
}

h1 > a, h2 > a,
h1 > a:active, h2 > a:active,
h1 > a:hover, h2 > a:hover,
h1 > a:focus, h2 > a:focus,
h1 > a:visited, h2 > a:visited {
	color: inherit;
}

header p.p-summary {
	margin: 0.5rem 1rem 1.5rem;
	line-height: 1;
	font-weight: 700;
	font-style: italic;
	color: var(--theme-text-light);
	font-size: 1rem;
}

/* Represents the icon links that display next to headings that link directly to
 * to that sub-section. */
a.heading-anchor {
	margin-left: 0.5rem;
	display: inline-block;
}

	/* The internal <span> contains label text to be read by screen readers. Should
	 * not be visible to normal users. */ 
	.heading-anchor span {
		display: none;
	}

	.heading-anchor svg-icon {
		display: inline-block;
		color: var(--theme-text-light);
		--icon-size: 1rem;
	}

:not(.katex-display) > .katex {
	margin-inline: 1rem;
}





/* ===== Tighter layout for smaller screens ===== */

@media (max-width: 60rem) {
	#root {
		padding: 2rem 0;
	}

	article > header:not(:last-child) {
		margin-bottom: 4rem;
	}

	p {
		margin: 2rem 0;
		font-size: 1rem;
	}

	code, pre {
		font-size: 1rem;
	}

	pre {
		margin: 2rem 0.5rem;
		padding: 0.5rem 1rem;
		border: 0.1rem solid var(--theme-code-gutter-divider);
		border-radius: 1rem;
		overflow: auto;
	}
}
