
:root {
	font-size: 16px;
	--font-open-sans: 'Open Sans', sans-serif;
	--font-monospace: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
	--font-cursive: cursive;
	--text-note-prefix: 'Note: ';
}

* {
	margin: 0;
	padding: 0;
	border: 0;
	box-sizing: border-box;
}

html, body {
	height: 100%;
	min-height: 100%;
}

body {
	background: var(--theme-bg-main);
}

body[data-color-transition-enabled],
body[data-color-transition-enabled] :is(button, pre, input, textarea, select, mark, dd, [data-bg-transition]) {
	transition: background linear .5s;
}

body[data-color-transition-enabled] :is(blockquote, [data-border-transition]) {
	transition: border-color linear .5s;
}

#root {
	display: flex;
	flex-direction: row;
	padding: 2rem;
	min-height: calc(100vh - 20rem);
	max-width: 100rem;
	margin: auto;
}

color-theme-toggle {
	position: fixed;
	top: 1rem;
	right: 1rem;
	display: block;
}





/* ===== Header / Sidebar ===== */

#header-sidebar {
	width: 20rem;
	flex: 0 0 20rem;
	padding: 0;
	margin-inline-end: 4rem;
	position: sticky;
	top: 2rem;
	align-self: flex-start;
}

#header-sidebar header {
	/*  */
}

#header-sidebar header h1 {
	color: var(--theme-text-heading);
}

#header-sidebar header h1 a {
	color: inherit;
}

#header-sidebar header p.p-summary {
	margin-block: 1rem;
	margin-inline: 0;
	font-size: 1rem;
}

#header-sidebar aside {
	/*  */
}

#header-sidebar aside h2 {
	margin-block-start: 2rem;
}

#header-sidebar form.search {
	display: flex;
	flex-direction: row;
}

#header-sidebar form.search input {
	margin: 0;
	padding: 0.25rem;
}

#header-sidebar form.search button {
	margin: 0;
	padding: 0.25rem;
	margin-inline-start: 0.5rem;
}

#header-sidebar form.search button svg.icon {
	--icon-size: 1.5rem;
}





ul.link-list {
	list-style: none;
	padding-inline-start: 0;
}

ul.link-list li {
	display: flex;
	font-size: 0.8rem;
	margin-block: 1rem;
	align-items: center;
	--icon-size: 1.5rem;
}

ul.link-list svg.icon {
	margin-inline-end: 1rem;
}

ul.link-list a {
	/*  */
}





/* ===== Footer ===== */

body > footer {
	margin-block-start: 8rem;
	padding-block-end: 2rem;
}

body > footer p {
	margin-block: 0.5rem;
	text-align: center;
	font-size: 0.8rem;
}





/* ===== Tag List ===== */

ul.tag-list {
	list-style: none;
	padding-inline: 0;
	display: flex;
	flex-wrap: wrap;
}

ul.tag-list li.p-category {
	font-size: 0.8rem;
	padding: 0.5rem;
	background: var(--theme-bg-light);
	border-radius: 0.5rem;
	margin-inline-end: 1rem;
}





/* ===== Feed View ===== */

section.feed-list > h2 {
	font-size: 2rem;
	font-weight: 300;
	margin-block: 2rem;
}

section.feed-list article {
	margin-block-end: 6rem;
}

section.feed-list article header .icon-wrapper {
	display: flex;
	align-items: center;
	--icon-size: 2rem;
}

section.feed-list article header .icon-wrapper svg {
	color: var(--theme-text-heading);
	margin-inline-end: 1rem;
	flex: 0 0 auto;
}

/* === Posts === */

section.feed-list article[data-post-type='post'] header h3 {
	font-size: 1.5rem;
	margin-block: 0;
}

section.feed-list article[data-post-type='post'] header p {
	margin-block: 0.25rem;
	margin-inline: 0;
	font-size: 1rem;
}

section.feed-list article[data-post-type='post'] header p.p-summary {
	font-weight: 700;
	color: var(--theme-text-light);
}

section.feed-list article[data-post-type='post'] header p.date.published,
section.feed-list article[data-post-type='post'] header p.date.updated {
	font-size: 0.8rem;
}

/* === Comments === */

section.feed-list article[data-post-type='comment'] header h3 {
	font-size: 1rem;
	margin-block: 0rem;
}

section.feed-list article[data-post-type='comment'] main {
	margin-block: 0.5rem;
}

section.feed-list article[data-post-type='comment'] main :is(p, pre, blockquote) {
	margin-block: 1rem;
}

section.feed-list article[data-post-type='comment'] footer p {
	font-size: 0.8rem;
	margin-block: 0.5rem;
}

/* === Notes === */

section.feed-list article[data-post-type='note'] header h3 {
	font-size: 1rem;
	margin-block: 0rem;
}

section.feed-list article[data-post-type='note'] main {
	margin-block: 0.5rem;
}

section.feed-list article[data-post-type='note'] main :is(p, pre, blockquote) {
	margin-block: 1rem;
}

section.feed-list article[data-post-type='note'] footer p {
	font-size: 0.8rem;
	margin-block: 0.5rem;
}

/* === Events === */

section.feed-list article[data-post-type='event'] header h3 {
	font-size: 1rem;
	margin-block: 0rem;
}

section.feed-list article[data-post-type='event'] header h3 a.event-link {
	font-size: 1.5rem;
}

section.feed-list article[data-post-type='event'] header p {
	margin-block: 0.25rem;
	margin-inline: 0;
	font-size: 1rem;
}

section.feed-list article[data-post-type='event'] header p.p-summary {
	font-weight: 700;
	color: var(--theme-text-light);
}

section.feed-list article[data-post-type='event'] header p.date.start,
section.feed-list article[data-post-type='event'] header p.date.end {
	font-size: 0.8rem;
}

section.feed-list article[data-post-type='event'] footer p {
	font-size: 0.8rem;
	margin-block: 0.5rem;
}

/* === RSVPs === */

section.feed-list article[data-post-type='rsvp'] header h3 {
	font-size: 1rem;
	margin-block: 0rem;
}

section.feed-list article[data-post-type='rsvp'] header h3 .u-in-reply-to a {
	font-size: 1.5rem;
}

section.feed-list article[data-post-type='rsvp'] header p {
	margin-block: 0.25rem;
	margin-inline: 0;
	font-size: 1rem;
}

section.feed-list article[data-post-type='rsvp'] header p.p-summary {
	font-weight: 700;
	color: var(--theme-text-light);
}

section.feed-list article[data-post-type='rsvp'] header p.date.start,
section.feed-list article[data-post-type='rsvp'] header p.date.end {
	font-size: 0.8rem;
}

section.feed-list article[data-post-type='rsvp'] footer p {
	font-size: 0.8rem;
	margin-block: 0.5rem;
}

/* === Embeded External Posts === */

section.feed-list blockquote.external-embed article {
	margin-block-end: 0;
}

section.feed-list blockquote.external-embed header h1 {
	margin-block-start: 0;
	font-size: 1.5rem;
}

section.feed-list blockquote.external-embed main p {
	font-size: 1rem;
}

/* === Search Metadata === */

section.feed-list div.search-meta {
	font-size: 0.8rem;
	margin-block: 0.5rem;
	font-family: var(--font-open-sans);
	color: var(--theme-text-body);
	line-height: 1.75;
}

section.feed-list div.search-meta span.score {
	margin-inline-end: 0.25rem;
}

section.feed-list div.search-meta span.score:after {
	content: "|";
	margin-inline-start: 0.5rem;
}

section.feed-list div.search-meta ul.terms {
	display: inline;
	list-style: none;
	font-size: inherit;
	color: inherit;
	margin: 0;
	padding: 0;
}

section.feed-list div.search-meta ul.terms li {
	display: inline;
	font-size: inherit;
	color: inherit;
	margin: 0;
	padding: 0;
}

section.feed-list div.search-meta ul.terms li:before {
	content: '"';
}

section.feed-list div.search-meta ul.terms li:after {
	content: '"';
}

section.feed-list div.search-meta ul.terms li:not(:last-of-type):after {
	content: '",';
	margin-inline-end: 0.25rem;
}





/* ===== Post View ===== */

#root > main {
	flex: 1 1 auto;
}

/* === Posts === */

main[data-page='post'] article header h1 {
	margin-block-start: 2rem;
}

main[data-page='post'] article header p {
	margin-block: 0.25rem;
	margin-inline: 1rem;
	font-size: 1rem;
}

main[data-page='post'] article header p.date.updated,
main[data-page='post'] article header p.date.published {
	font-size: 0.8rem;
}

main[data-page='post'] article header p.author {
	/*  */
}

main[data-page='post'] article header p.p-summary {
	font-size: 1rem;
	font-weight: 700;
	color: var(--theme-text-light);
}

/* === Comments === */

main[data-page='comment'] article {
	max-width: 80rem;
	margin-inline: auto;
}

main[data-page='comment'] article header h1 {
	font-weight: 700;
	font-size: 1.5rem;
	margin-block-start: 2rem;
}

main[data-page='comment'] article main.e-content {
	/*  */
}

main[data-page='comment'] article footer p {
	font-size: 0.8rem;
	margin: 1rem 0;
}

/* === Notes === */

main[data-page='note'] article {
	max-width: 80rem;
	margin-inline: auto;
}

main[data-page='note'] article header h2 {
	margin-block-start: 2rem;
}

main[data-page='note'] article main.e-content {
	padding-block: 1rem;
}

main[data-page='note'] article footer p {
	font-size: 0.8rem;
	margin: 1rem 0;
}

/* === Events === */

main[data-page='event'] article {
	max-width: 80rem;
	margin-inline: auto;
}

main[data-page='event'] article header h2 {
	margin-block-start: 2rem;
}

main[data-page='event'] article header h2 span.p-name {
	font-size: 2rem;
	font-weight: 300;
}

main[data-page='event'] article header p {
	margin-block: 0.25rem;
	margin-inline: 1rem;
	font-size: 1rem;
}

main[data-page='event'] article header p.date.updated,
main[data-page='event'] article header p.date.published {
	font-size: 0.8rem;
}

main[data-page='event'] article header p.author {
	/*  */
}

main[data-page='event'] article header p.p-summary {
	font-size: 1rem;
	font-weight: 700;
	color: var(--theme-text-light);
}

main[data-page='event'] article main.e-content {
	padding-block: 1rem;
}

main[data-page='event'] article footer p {
	font-size: 0.8rem;
	margin: 1rem 0;
}

/* === RSVPs === */

main[data-page='rsvp'] article {
	max-width: 80rem;
	margin-inline: auto;
}

main[data-page='rsvp'] article header h2 {
	margin-block-start: 2rem;
}

main[data-page='rsvp'] article main.e-content {
	padding-block: 1rem;
}

main[data-page='rsvp'] article footer p {
	font-size: 0.8rem;
	margin: 1rem 0;
}

/* === External Embeds === */

main:is([data-page='comment'], [data-page='rsvp']) header blockquote.external-embed article {
	margin-block-end: 0;
}

main:is([data-page='comment'], [data-page='rsvp']) header blockquote.external-embed header h1 {
	margin-block-start: 0;
	font-size: 1.5rem;
}

main:is([data-page='comment'], [data-page='rsvp']) header blockquote.external-embed header p {
	margin-block: 0.25rem;
	font-size: 1rem;
}

main:is([data-page='comment'], [data-page='rsvp']) header blockquote.external-embed header p.p-summary {
	font-weight: 700;
	color: var(--theme-text-light);
}

main:is([data-page='comment'], [data-page='rsvp']) header blockquote.external-embed main p {
	font-size: 1rem;
}





/* ===== Mentions ===== */

aside.mention-thread {
	margin-top: 10rem;
}

aside.mention-thread > h2 {
	margin-top: 0;
	font-size: 2rem;
	font-weight: 300;
}

aside.mention-thread > ul {
	list-style: none;
	padding-inline-start: 0;
}

aside.mention-thread article[role='comment'] {
	margin-block: 4rem;
	/* padding-inline-start: 1.5rem;
	border-inline-start: 0.5rem var(--theme-line) solid;
	padding-block: 1rem;
	background: var(--theme-bg-light);
	margin-inline-end: 1rem; */
}

aside.mention-thread article[role='comment'] > main {
	max-height: 70vh;
	overflow-y: auto;
	padding-block: 0;
}

aside.mention-thread article[role='comment'] > main p {
	margin-block: 1rem;
}

aside.mention-thread article[role='comment'] > header {
	display: flex;
	align-items: flex-end;
	--icon-size: 1.5rem;
}

aside.mention-thread article[role='comment'] > header h1 {
	font-size: 1.2rem;
	font-weight: 700;
	margin-block: 0;
	margin-inline-start: 1rem;
}

aside.mention-thread article[role='comment'] > footer p {
	font-size: 0.8rem;
	margin-block: 0.5rem;
}






/* ===== Typography ===== */

ul, ol {
	padding-inline-start: 2.5rem;
}

h1, h2, h3, h4, h5, h6,
p, a, li, dt, dd, label,
table, td {
	font-family: var(--font-open-sans);
}

h1, h2, h3, h4, h5, h6,
th {
	color: var(--theme-text-heading);
}

code, samp, pre {
	color: var(--theme-code-normal);
	font-family: var(--font-monospace);
	font-size: 1.2em;
}

pre {
	margin-block: 3rem;
	margin-inline: 2rem;
	padding-block: 1rem;
	padding-inline: 1.5rem;
	border: 0.1rem solid var(--theme-line);
	border-radius: 1rem;
	overflow: auto;
	background: var(--theme-bg-light);
}

h1 {
	font-size: 2rem;
	font-weight: 300;
}

h2 {
	font-size: 1.5rem;
	margin-block: 6rem 1rem;
}

h3 {
	font-size: 1.17rem;
	margin-block: 3rem 1rem;
}

p, small, li, dt, dd, label,
table, td {
	color: var(--theme-text-body);
}

p {
	margin-block: 2rem;
	margin-inline: 0;
	font-size: 1.2rem;
	line-height: 1.75;
}

p[role='note'] {
	font-size: 1rem;
	color: var(--theme-text-light);
	margin-inline-start: 0.25rem;
	padding-inline-start: 0.75rem;
	border-inline-start: 0.25rem var(--theme-line) solid;
}

p[role='note']:before {
	content: var(--text-note-prefix);
	color: var(--theme-text-heading);
	font-weight: 700;
}

li {
	font-size: 1.2rem;
	margin-block: 0.5rem;
}

li[role='doc-footnote'] {
	font-size: 0.9rem;
}

dl {
	margin-block: 3rem;
}

dt, dd {
	margin-block: 1rem;
}

dt {
	font-weight: 700;
}

	dt p {
		margin-block-end: 1rem;
	}

dd {
	margin-inline-start: 1rem;
	padding-inline-start: 1rem;
	padding-block: 0.125rem;
	border-inline-start: 0.5rem var(--theme-line) solid;
	background: var(--theme-bg-heavy)
}

	dd p {
		margin-block: 1rem;
	}

table {
	margin-block: 2rem;
	border-collapse: collapse;
}
	
	table, th, td {
		font-size: 1.2rem;
		line-height: 1.75;
	}

	tbody tr {
		border-top: 1px var(--theme-line) solid;
	}

	th, td {
		padding: 0.5rem;
	}

	td {
		font-weight: 300;
	}

small {
	font-size: 0.8rem;
	font-family: var(--font-open-sans);
	/* font-family: var(--font-nunito); */
}

a {
	color: var(--theme-text-link);
	text-decoration: none;
}

a:active,
a:hover,
a:focus {
	color: var(--theme-text-link-active);
}

a:visited {
	color: var(--theme-text-link-visited);
}

blockquote {
	margin-block: 2rem;
	margin-inline: 1rem;
	padding-block: 0.5rem;
	padding-inline: 1.5rem;
	border-inline-start: 0.25rem var(--theme-line) solid;
}

blockquote p {
	margin: 0;
}

/* Represents the icon links that display next to headings that link directly to
 * to that sub-section. */
a.heading-anchor {
	margin-left: 0.5rem;
	display: inline-block;
}

	/* The internal <span> contains label text to be read by screen readers. Should
	 * not be visible to normal users. */ 
	.heading-anchor span {
		display: none;
	}

	.heading-anchor svg.icon {
		display: inline-block;
		color: var(--theme-text-light);
		--icon-size: 1rem;
	}

mark {
	color: var(--theme-text-highlight);
	background-color: var(--theme-bg-text-highlight);
	padding: 0.2rem;
}

::selection {
	fill: var(--theme-text-selection) !important;
	color: var(--theme-text-selection) !important;
	background-color: var(--theme-bg-text-selection) !important;
}

figure {
	margin-block: 2rem;
    margin-inline: 2rem;
    padding-bottom: 1.5rem;
}

figure > :not(figcaption) {
	margin-block-end: 3rem;
}

figcaption {
	font-family: var(--font-open-sans);
	text-align: center;
	font-size: 1rem;
	margin-block-start: -1.5rem;
	color: var(--theme-text-light);
}



/* ===== Forms and Inputs ===== */

label {
	display: block;
	font-family: var(--font-open-sans);
	font-size: 1rem;
	margin-top: 1rem;
}

label:not(:first-of-type) {
	margin-top: 2rem;
}

input,
textarea {
	display: block;
	margin-top: 0.35rem;
	margin-bottom: 1rem;
	border: 0.125rem var(--theme-border-input) solid;
	border-radius: 0.25rem;
	color: var(--theme-text-body);
	background-color: var(--theme-bg-input);
	padding: 0.5rem;
	font-family: var(--font-open-sans);
	font-size: 1rem;
	width: 20rem;
}

	input[disabled],
	textarea[disabled] {
		opacity: 0.4;
		cursor: default;
		pointer-events: none;
	}

	input[type='text']:invalid,
	input[type='password']:invalid,
	textarea:invalid {
		border-color: var(--theme-border-input-invalid);
	}

textarea {
	line-height: 1.7rem;
	font-family: var(--font-monospace);
}

::-webkit-input-placeholder {
	color: var(--theme-text-light);
}

button {
	padding: 0.5rem 1.5rem;
	border-radius: 0.5rem;
	font-size: 1rem;
	margin-block-start: 1rem;
	margin-inline-end: 1rem;
	cursor: pointer;
	user-select: none;
	appearance: none;
	color: var(--theme-text-button-primary);
	background: var(--theme-bg-button-primary);
	text-decoration: none;
	transition: background linear .125s;
	font-size: 1rem;
	font-family: var(--font-open-sans);
	font-weight: 700;
	line-height: 2rem;
	display: flex;
	align-items: center;
}

	button.icon-only {
		padding: 0.5rem;
	}

	button svg.icon {
		--icon-size: 2rem;
	}

	button:not(.icon-only) svg.icon:first-child {
		margin-inline-end: 0.5rem;
	}

	button:not(.icon-only) svg.icon:last-child {
		margin-inline-start: 0.5rem;
	}

	button[data-style='secondary'] {
		color: var(--theme-text-button-secondary);
		background: var(--theme-bg-button-secondary);
	}

	button:not([disabled]):hover {
		background: var(--theme-bg-button-primary-hover);
	}

	button[data-style='secondary']:not([disabled]):hover {
		background: var(--theme-bg-button-secondary-hover);
	}

	button[disabled] {
		opacity: 0.4;
		cursor: default;
		pointer-events: none;
	}

select {
	display: block;
	margin-top: 0.25rem;
	margin-bottom: 1rem;
	border: 0.125rem var(--theme-border-input) solid;
	border-radius: 0.25rem;
	color: var(--theme-text-body);
	background-color: var(--theme-bg-input);
	padding: 0.5rem;
	font-family: var(--font-open-sans);
	font-size: 1rem;
	width: 20rem;
	cursor: pointer;
}

	select[disabled] {
		opacity: 0.4;
		cursor: default;
		pointer-events: none;
	}

	select option {
		color: var(--theme-text-body);
		background-color: var(--theme-bg-input);
		padding: 0.5rem;
		font-family: var(--font-open-sans);
		font-size: 1rem;
	}




/* ===== Rendered Blocks ===== */

/* === General === */

[class*=' rendered-'], [class^='rendered-'] {
	margin-block: 2rem;
}

:is([class*=' rendered-'], [class^='rendered-']) svg {
	display: block;
	margin-inline: auto;
}

:is([class*=' rendered-'], [class^='rendered-']).big {
	background: var(--theme-bg-main);
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 1000;
	display: flex;
	border: 0.25rem var(--theme-line) solid;
	margin: 3rem;
}

:is([class*=' rendered-'], [class^='rendered-']).big svg {
	max-width: none !important;
	max-height: none !important;
}

:is([class*=' rendered-'], [class^='rendered-'])[data-flags~='small'] svg {
	max-width: 30rem;
	max-height: 20rem;
}

:is([class*=' rendered-'], [class^='rendered-'])[data-flags~='medium'] svg {
	max-width: 40rem;
	max-height: 40rem;
}

:is([class*=' rendered-'], [class^='rendered-'])[data-flags~='large'] svg {
	max-width: 60rem;
	max-height: 60rem;
}

:is(.rendered-pikchr, .rendered-nomnoml, .rendered-bytefield) svg text {
	fill: var(--theme-text-body);
}

/* :is(.rendered-pikchr, .rendered-nomnoml, .rendered-bytefield) svg text:not([font-family~='Times']):not([font-family~='Courier']) { */
:is(.rendered-pikchr, .rendered-nomnoml, .rendered-bytefield) svg text:not([font-family~='Courier']) {
	font-family: var(--font-open-sans);
}

/* === KaTeX === */

.katex-display {
	color: var(--theme-text-body);
}

.katex-display .katex {
	font-size: 1.8rem;
}

:not(.katex-display) > .katex {
	font-size: inherit;
	margin-inline: 0.5rem;
}

/* === nomnoml === */

.rendered-nomnoml svg g[fill='#eee8d5'] {
	fill: var(--theme-bg-light);
	transition: fill linear .5s;
}

.rendered-nomnoml svg g[stroke='#33322E'] {
	stroke: var(--theme-text-body);
}

.rendered-nomnoml svg g[fill='#33322E'] {
	fill: var(--theme-text-body);
	transition: fill linear .5s;
}

.rendered-nomnoml svg g[fill='#fdf6e3'] {
	fill: var(--theme-bg-heavy);
	transition: fill linear .5s;
}

.rendered-nomnoml svg g[font-family='monospace'] text {
	font-family: var(--font-monospace);
}

.rendered-nomnoml svg g[font-family='cursive'] text {
	font-family: var(--font-cursive);
}

/* === Pikchr */

/* boxes */
.rendered-pikchr svg path[style*='fill:none;'] {
	fill: var(--theme-bg-light) !important;
	transition: fill linear .5s;
}

/* lines and boxes */
.rendered-pikchr svg path[style*='stroke:rgb(0,0,0);'] {
	stroke: var(--theme-text-body) !important;
}

/* circles */
.rendered-pikchr svg circle[style*='stroke:rgb(0,0,0);'] {
	stroke: var(--theme-text-body) !important;
}

/* arrow heads */
.rendered-pikchr svg polygon[style='fill:rgb(0,0,0)'] {
	fill: var(--theme-text-body) !important;
	transition: fill linear .5s;
}

/* === Bytefield === */

.rendered-bytefield svg text[font-family~='Courier'] {
	font-family: var(--font-monospace);
}

.rendered-bytefield svg line[stroke='#000000'] {
	stroke: var(--theme-text-body);
}

.rendered-bytefield svg line[stroke-width='1'] {
	stroke-width: 1.5;
}

.rendered-bytefield svg line[stroke-darharray='1,1'] {
	stroke-dasharray: 1.5, 1.5;
}

/* === Railroad === */

.rendered-railroad svg {
	/* background-color: hsl(30,20%,95%); */
}

.rendered-railroad svg path {
	stroke-width: 3;
	stroke: var(--theme-text-body);
}

.rendered-railroad svg text {
	font: bold 0.8rem var(--font-cursive);
	text-anchor: middle;
	white-space: pre;
	fill: var(--theme-text-body);
	font-weight: 300;
}

.rendered-railroad svg text.diagram-text {
	font-size: 0.75rem;
}

.rendered-railroad svg text.diagram-arrow {
	font-size: 1rem;
}

.rendered-railroad svg text.label {
	text-anchor: start;
}

.rendered-railroad svg text.comment {
	font: italic 0.75rem var(--font-cursive);
}

.rendered-railroad svg g.non-terminal text {
	/*font-style: italic;*/
}

.rendered-railroad svg rect {
	stroke-width: 3;
	stroke: var(--theme-text-body);
	fill: var(--theme-bg-light);
	transition: fill linear .5s;
}

.rendered-railroad svg rect.group-box {
	stroke: var(--theme-line);
	stroke-dasharray: 10 5;
	fill: none;
}

.rendered-railroad svg path.diagram-text {
	stroke-width: 3;
	stroke: var(--theme-text-body);
	fill: var(--theme-bg-main);
	cursor: help;
}

.rendered-railroad svg g.diagram-text:hover path.diagram-text {
	fill: var(--theme-bg-heavy);
}






/* ===== Tighter layout for smaller screens ===== */

@media (max-width: 60rem) {
	#root {
		padding-block: 2rem;
		padding-inline: 1rem;
		flex-direction: column;
	}

	#header-sidebar {
		position: static;
		padding-block: 0 2rem;
		width: 100%;
		flex: 0 0 auto;
		border-block-end: 0.125rem var(--theme-line) solid;
	}

	main:is(
		[data-page='post'],
		[data-page='comment'],
		[data-page='note'],
		[data-page='event'],
		[data-page='rsvp']
	) article header h1 {
		font-size: 1.2rem;
	}

	section.feed-list blockquote.external-embed header h1 {
		font-size: 1rem;
	}

	main:is(
		[data-page='post'],
		[data-page='comment'],
		[data-page='note'],
		[data-page='event'],
		[data-page='rsvp']
	) article header blockquote.external-embed header h1 {
		font-size: 1rem;
	}

	section.feed-list article:is(
		[data-post-type='post'],
		[data-post-type='comment'],
		[data-post-type='note'],
		[data-post-type='event'],
		[data-post-type='rsvp']
	) header p {
		font-size: 0.8rem;
	}

	p, li {
		font-size: 1rem;
	}

	code, pre, samp {
		font-size: 1em;
	}

	pre {
		margin-block: 2rem;
		margin-inline: 0.5rem;
		padding-block: 0.5rem;
		padding-inline: 1rem;
		border: 0.1rem solid var(--theme-code-gutter-divider);
		border-radius: 1rem;
		overflow: auto;
	}

	blockquote {
		margin-inline: 0.5rem;
	}

	.katex-display .katex {
		font-size: 1.5rem;
	}
}
